<div class="container">
  <h1>New comment</h1>

  <%= render "form", comment: @comment %>

  <br>

 <div class="container mt-3 text-center">  
  <%= link_to "Back to notes", home_index_path %>
  </div>
</div>